// @import url("./global_params.less");
body {
	font-size:@mainFont;
	color: brown;
	
	.container {
		box-shadow: 0 0 10px black;
		width: 200px / 2;
		height: (200px / 2) ;
		border: solid red 3px;
		border-radius: 8%;
		text-align: center;
		line-height: 100px;
		background-color: @mainBackColor;
	}
}